<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.laboratorio.TranferenciaDeArchivos.persistence.mybatisimpl.mappers.ComentarioMapper">

	<select id="getComputadores" resultMap="ComputadorResult">
		SELECT 
		pc.id as idComputador,
		pc.nombre as nombreComputador,
		sa.id  as salonID,
		sa.nombre as salonNombre,
		sa.descripcion as salonDescripcion
		FROM 
			computadores as pc, salones as sa
		WHERE pc.id_salon=sa.id;
				
	</select>
	
	<resultMap type="Computador" id="ComputadorResult">
		<id property='id' column='idComputador'/>
		<result property='nombre' column='nombreComputador'/>	
                <association property="salon" javaType="Salon" resultMap="edu.eci.laboratorio.TranferenciaDeArchivos.persistence.mybatisimpl.mappers.SalonMapper.salonesResult"></association>

		
	
	</resultMap>
	

	
</mapper>