<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.laboratorio.TranferenciaDeArchivos.persistence.mybatisimpl.mappers.SalonMapper">
    
   
    
    
        <select id = "getSalones" resultMap="salonesResult">            
                SELECT sa.id  as salonID,
                        sa.nombre as salonNombre,
                        sa.descripcion as salonDescripcion,
                        pc.id as idComputador,
                        pc.nombre as nombreComputador
                FROM salones as sa, computadores as pc;
        </select>
        
        <select id = "getSalonNombre" resultMap="salonesResult">            
                SELECT sa.id  as salonID,
                        sa.nombre as salonNombre,
                        sa.descripcion as salonDescripcion,
                        pc.id as idComputador,
                        pc.nombre as nombreComputador
                FROM salones as sa, computadores as pc
                WHERE sa.nombre = #{id} and pc.id_salon = sa.id;		
        </select>
        
       <insert id="agregarSalon">
		INSERT INTO Salon(id, nombre, descripcion)
		VALUES(#{salon.id},#{salon.nombre},#{salon.descripcion});
	</insert>
        
        <update id = "cambiarNombreSalon">
            update SALONES set nombre = #{newName} where nombre = #{oldName};            
        </update>
        
        <resultMap id="salonesResult" type="Salon">
		<id property="id" column="salonID"></id>
		<result property="nombre" column="salonNombre"></result>
		<result property="descripcion" column="salonDescripcion"></result>	
                <collection property='pcs' ofType='Computador' resultMap="ComputadorResult"/>	
	</resultMap>
        
        
        <resultMap id="ComputadorResult" type="Computador" >
		<id property='id' column='idComputador'/>
		<result property='nombre' column='nombreComputador'/>         
	</resultMap>
        
	
</mapper>